<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dystorage2021;AccountKey=JopS1zXQXsvQNAAbAVRNIbY5qDzFeVyXzJgKwgpnYLsODtRfjIx5UDwr7J5EYit8aKMeCyPxdM12pz/6SYfBGQ==;TableEndpoint=https://dystorage2021.table.core.windows.net/;"/>
		<add key="ConnectionStringProd" value ="DefaultEndpointsProtocol=https;AccountName=tipitakadata2023;AccountKey=XudohdFrs+d+cgZLY69sgzf7MUHQIlAfJey8yo8BFhP7Cgnnyq3kdcnE8gusj9fAV0JvMIsb/QUB+AStqcY2Kw==;TableEndpoint=https://tipitakadata2023.table.core.windows.net/;"/>
	</appSettings>
</configuration>